<section id="{{ item.data.title | slugify  }}"    class="journal">

  {% include "./prev.njk" %}

  <header>
    <time>{{ item.data.date | monthYear }}</time>
    {# {% include "./link.njk" %} #}
    <h2>{{ item.data.title }}</h2>
  </header>
  <article class="dialogue" {%if item.data.id%}data-dialog-line="{{item.data.id}}"{%endif%} >{{item.templateContent | safe}}</article>
  
  {% include "./next.njk" %}

</section>


