<section class="menubar">
  <nav>
  <ul>
  {% for item in collections.things %}
    <li  {% if item.data.type == "intro" %} class="active" {% endif %} > 
    <a 
    href="#{{item.data.title | slugify}}">
    {% if item.data.type == "talk" %}
      {% include "../icons/iconTalk.njk"%}
      {% elseif item.data.type == "intro" %}
        {% include "../icons/iconText.njk" %}
    {% elseif item.data.type == "text" %}
      {% include "../icons/iconText.njk" %}
    {% elseif item.data.type == "demo" %}
      {% include "../icons/sequences.njk" %}
        {% else %} 
      {% include "../icons/menuIcon.njk"%}
        {% endif %}
      <span class="menuTitle">{{item.data.title}}</span>
    </a> 
    </li>
  {% endfor %}
    </ul>
  </nav>
  <h1>{{title}}</h1
</section>
