<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{meta.title}}</title>

        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/index.js" type="module"></script>
{% block headerSup %}
        
{% endblock headerSup %}
    </head>

    <body class="{{class}}">
        {% block background %}{% endblock %}
        <section class="content">
        {% block content %}
        {% endblock %}</section> 
        {% block menu %}
            {% include "modules/menu.njk" %}
        {% endblock %}
        {% block footer %}{% endblock %}

        {% block endscripts %}
                
        {% endblock endscripts %}
    </body>

</html>
